.django_messages_display_messages_container {
    list-style-type: none;
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 20rem;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    font-size: 0.875rem;
    line-height: 1.25rem;
}

.django_messages_display_messages_container>li {
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px 0 hsla(0, 0%, 0%, 0.1), 0 1px 2px -1px hsla(0, 0%, 0%, 0.1);
    transition: opacity 0.3s linear, transform 0.3s ease-out;
}

.django_messages_display_messages_container>li.hidden {
    opacity: 0;
    transform: translate(3em, 0);
}

.django_messages_display_messages_container>li.hidden>button {
    visibility: hidden;
}

.django_messages_display_messages_container>li.success {
    background-color: hsl(132, 32%, 36%);
    color: hsl(0, 0%, 96%);
}

.django_messages_display_messages_container>li.info {
    background-color: hsl(220, 61%, 52%);
    color: hsl(0, 0%, 96%);
}

.django_messages_display_messages_container>li.warning {
    background-color: hsl(48, 100%, 62%);
    color: hsl(0, 0%, 25%);
}

.django_messages_display_messages_container>li.error {
    background-color: hsl(0, 100%, 37%);
    color: hsl(0, 2%, 92%);
}

.django_messages_display_messages_container>li>p {
    padding: 0rem 1rem;
    margin: 1rem 0rem;
}

.django_messages_display_messages_container>li>button {
    all: unset;
    cursor: pointer;
    padding: 0.25rem;
    display: inline-flex;
    align-items: center;
}

.django_messages_display_messages_container>li>button>svg {
    width: 1.25rem;
    height: 1.25rem;
}